<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hotels</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link href="{{url_for('static',filename='style/main.css')}}" rel="stylesheet" type="text/css" media="screen" />-->
    <link href="{{url_for('static',filename='style/animate.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" media="screen,projection">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</head>


<body>

    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="container">
                <div class="navbar-wrapper">
                    <a href="#" class="brand-logo">Connect Colleges</a>

                </div>
            </div>
        </nav>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://images.pexels.com/photos/1023828/pexels-photo-1023828.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg" alt="">
                <div class="caption center-align black-text hide-on-small-only">
                    <h3>Make your College Life Interesting.</h3>
                    <h5 class="dark black-text">We're that "cool" people and somehow makes a living of connecting people, while drinking a $38
                        bottle of artisanal cold-brew</h5>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/1308780/pexels-photo-1308780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg" alt="">
                <div class="caption left-align black-text hide-on-small-only">
                    <h3>You probably haven't heard of us</h3>

                    <h5 class="dark  black-text darken-1">Thanks for trusting us.</h5>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>

                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/113737/rope-knitting-heart-love-113737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg"
                    alt="">
                <div class="caption right-align black-text hide-on-small-only">
                    <h3>You will be amazed by our works</h3>
                    <a href="https://web.telegram.org/#/im?p=@rns_hotelbot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/113737/rope-knitting-heart-love-113737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg"
                    alt="">
                <div class="caption center-align black-text hide-on-small-only">
                    <h3>Keep supporting us</h3>
                       <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e5d85cd16e79671287971a06be066&auto=format&fit=crop&w=750&q=80.jpg" alt="">
                <div class="caption left-align black-text hide-on-small-only">
                    <h3>I Hope you loved our work</h3>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <section class="section1 white center section-icons black-text">

        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel grey darken-3">
                    <i class="material-icons large teal-text">chat</i>
                    <p class="white-text">Professional</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/rooms/">
                        <button class="btn btn-medium waves-effect waves-light">CHECK-OUT</button>
                    </a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel grey darken-3">
                    <i class="material-icons large teal-text">person_add</i>
                    <p class="white-text">Personal</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/guests/">
                        <button class="btn btn-medium waves-effect waves-light">GET-IN</button>
                    </a>
                </div>
            </div>


        </div>
        </div>

    </section>



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js "></script>
    <script>
        $(document).ready(function () {

            $('.slider').slider({
                indicators: false,
                height: 600,
                transition: 400,
                interval: 1500
            })
        });

    </script>
</body>

</html>
